<div class="modal-splash" >
    <div class="sent-message">
        <h3>Message Sent!</h3><br/>
        {% include svg/icon-check.svg %}

    </div>
</div>
<div class="modal-wrapper">
    <div class="modal" id="contact">
        <div class="modal-close-ctrl">
            <span></span><span></span>
        </div>
        <h1>Say Hello!</h1>

        <form id="contact-form" method="post" onsubmit="return contact();">
            <input class="half" 
                   type="text" 
                   name="name" 
                   placeholder="Full Name *" />
            <input class="half" 
                   type="email" 
                   name="email" 
                   placeholder="Email *"/>
            <input type="text" name="_gotcha" style="display:none" />
            <textarea class="full"
                      name="message"
                      placeholder="What's Up? *"></textarea>
            <br/>
            <span class="validation-msg"></span>
            <input class="btn" type="submit" value="submit">
        </form>

    </div>
</div>
