<ul class="social-icons">
    <!--li class="icon"><a href="" target="_blank">{% include svg/logo-fb.svg %}</a></li-->
    <li class="icon"><a href="http://github.com/davidleger95" target="_blank">{% include svg/logo-gh.svg %}</a></li>
    <li class="icon"><a href="http://linkedin.com/in/davidleger95" target="_blank">{% include svg/logo-li.svg %}</a></li>
    <li class="icon"><a href="http://twitter.com/davidleger95" target="_blank">{% include svg/logo-t.svg %}</a></li>
    <li class="icon"><a href="http://youtube.com/davidleger11" target="_blank">{% include svg/logo-yt.svg %}</a></li>
</ul>