footer{
    display: block;
    min-height: 100px;
    
    border-top: 1px solid $bg;
    
    .social-icons{
        margin-left: -20px;
        .icon svg{
            margin: -5px;
            height: 25px;
            width: 25px;
            &:not(:hover){
                path{
                    fill: $light !important;
                }
            }
        }
    }
    
    nav{
        float: right;
        position: relative;
        background: none;
        
        padding: 15px 0;
        
        opacity: 0.5;
        transition: 200ms all ease-in-out;
        &:hover{
            opacity: 1;
        }
        
        .nav-item{
            font-size: 0.6rem !important;
            margin: 10px;
            &.alt a{
                border: none;
                padding: 0;
            }
        }
    }
}