.btn{
    font-family: 'PT Serif', serif;
    display: inline-block;
    border-radius: 0.25em;
    padding: 10px 20px;

    text-decoration: none;
    text-transform: uppercase;
    background-color: $primary;
    color: white !important;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.1em;
    font-weight: 700;

    &:hover{
        background-color: lighten($primary, 5%);
        box-shadow: 0 0 15px rgba($dark, 0.5);
    }
    transition: 200ms all ease-in-out;
}
