<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        
        <meta property="og:site_name" content="whitespace"/>
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:type" content="article" />
        <meta property="fb:app_id" content="993574670663995" />
        <meta property="og:url" content="http://0xfff.space{{ page.url }}" />
        <meta property="og:description" content="{{ page.description }}" />
        <meta property="og:image" content="http://0xfff.space/assets/img/post/{{ page.ogImg }}" />
        
        <link xmlns="http://www.w3.org/1999/xhtml" rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/assets/img/logo-icon.png"/>
        <title>David Leger | {{ page.title }}</title>

        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
        <!--link rel="stylesheet" href="https://raw.githubusercontent.com/madhur/madhur.github.com/master/files/css/syntax.css"-->
    </head>
    <body>
        
        {% include navbar.html %}
        
        <div class="container">
            {{ content }}
            {% include footer.html %}
        </div>
        
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/main.js"></script>
        {% if page.title == 'Home' %}
        <script>
            var brand = $('.brand');
            brand.css("opacity", 0);
            $(window).scroll(function(){
                var scrollPos = $(window).scrollTop();
                console.log(scrollPos);
                if(scrollPos > 100){
                    brand.css("opacity", (scrollPos - 100)/300);
                }else{
                    brand.css("opacity", 0);
                }
            });
        </script>
        {% endif %}
    </body>
</html>
